body {
background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("bag\ index.png");
    background-size: cover;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
}

.logo {
    font-size: 28px;
    font-weight: bold;                
    color: rgb(44, 16, 44);
    margin-right: 40px;
}


nav ul li:hover {
    background-color: #a67eb1;
    color: #213032;
    cursor:pointer;
}
nav ul a {
    display: inline;
    color: rgb(46, 6, 46); /* Initial color for navigation links */
    text-decoration: none;
    border: 10px;
    font-size: 18px;
    margin-right: 20px;
    transition: color 0.3s, background-color 0.3s; /* Smooth transition */
}

nav ul a:hover {
    background-color: #cfa9dc; /* Hover background color */
    color: #213032; /* Hover text color */
    cursor: pointer;
}


header {
    background: #d9cae1;
}
nav {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
}
a{
    
    margin-left: 20px;
    text-align: center;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero {
    color: white;
    font-size: 1.5rem;
    margin: 2rem 0;
    padding: 2rem;
}

.j {
    padding-left:  50%;
    color: rgb(218, 217, 176);
}

footer {
    background-color: #d9cae1; /* Matches the header background color */
    padding: 20px 0;
    text-align: center;
    color: #333; /* Darker text color for contrast */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
    position: relative;
    bottom: 0;
    width: 100%;
}
